
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>De'Vision</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/stylesheets/fontAwesome.css">
        <link rel="stylesheet" href="/stylesheets/light-box.css">
        <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
        <script src="https://kit.fontawesome.com/23cd0e260d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
  
    <nav>
        <div class="logo">
            <a href="/blogs"><img src="/img/bitlogo.png" style="height:70px"></a>
            <!-- <div class="vl" style="border-left: 6px solid green;height: 50px;"></div> -->
            <a href="/blogs"><img src="/img/clogo.png" style="width:60px;height:60px"></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>De'Vision</em></h1>
              <br><br><br><br><br><br>
              <!-- <a href="#" class="btn btn-outline-primary" role="button">Link Button</a> -->
              <button type="button" class="btn btn-outline-primary"><a href="https://dare2compete.com/o/de-vision-model-club-bit-sindri-dhanbad-127413" style="color: black;" >Register With D2C <i class="fas fa-sign-in-alt"></i></a></button>
              <br>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="/img/scroll-icon.png" alt=""></a>  
                </div>    
                <!-- <a href="/blogs/new"><img src="img/scroll-icon.png" class="clogo" alt=""></a> -->
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="/images/highway-loop.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="grid-portfolio">
      <div class="container">
      <div class="text-content">
        <h1 style="color:white; text-align: center;">THE ORGANIZERS!</h1>
      </div>
      <div class="row">
        <div style="color:#c0c2cf;">
        <h3>Model Club is an attempt to epitomize the technical mindset, personality development, and success stories of this  premier technical institution of Jharkhand. 
        </h3><h3>
          Established in the year 1976, founded with the objective to hone the scientific mindset, the Model Club has been working with boundless commitment. The organization is the official techno-management association of the institute with a dedicated team of 60+ individuals. 
        </h3><h3>
          Pioneering technical revolution in the campus, the Model Club is proactively involved in conducting various seminars, workshops and the annual techno-management fest "Sandhaan".</h3>
        </div>
        <!-- <div col-md-6 col-sm-6>
        <img src="/img/clogo.png" style="width:60px;height:60px">
      </div> -->
    </div>
  </div>
    </div>
<!-- <br>
<br> -->
    <div class="grid-portfolio">
      <div class="container">
        <img src="/img/Picture12.png" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;">
        </div>
    </div>


    <div class="grid-portfolio">
      <div class="container">
      <div class="text-content">
        <h1 style="color:white; text-align: center;">De' Vision</h1>
      </div>
      <div class="row">
        <div col-md-6 col-sm-6 style="color:#c0c2cf;">
        <h3>The present time is tough for all of us. We all are encountering so many restrictions in our physical world but our vision can still fly. 

          “Sight is what you see with your eyes. Vision is what you see with your minds.”</h3>
          
          <h3>Model Club, B.I.T Sindri, Dhanbad, Jharkhand in association with SASCO Steel Pvt Ltd. presents you with an opportunity to render your artistic vision to the world. With a plethora of things hovering about lately, there is more than a mere perception in our minds. Being a strongly opinionated generation, let’s exhibit what we apprehend!
          De'Vision, an indigenous illustration program aims to  foster creativity, and contrivance among budding artists.
        </h3><h3>
          Put on your thinking caps and let your digital canvas speak volumes. We introduce De’ Vision comprising a set of six themes to try your hands on.</h3>
        </div>
        <!-- <div col-md-6 col-sm-6>
        <img src="/img/clogo.png" style="width:60px;height:60px">
      </div> -->
    </div>
  </div>
    </div>
   
    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="text-content">
                <h2 style="color: white;">Top Entries!</h2>
            </div>
            <div class="row">
            <% blogs.forEach(function(blog){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <a href="<%= blog.image %>" data-lightbox="image-1"><div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1><%= blog.title %> <em>'Vision</em></h1>
                                    <p><%= blog.body %></p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="<%= blog.image %>">
                            </div>
                        </div></a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div></div>

      <div class="container">
        <div class="text-content">
          <h2 style="color: black; text-align: center;">In Association!</h2>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="container" >
              <img src="/img/slogo.png" style="display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;">
            </div>
          </div>
          </div>
        </div>
        <div class="container">
          <div class="text-content">
            <h2 style="color: black; text-align: center;">Our In-Kind Sponsors!</h2>
          </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
              <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/v1411656498/qu5coyqozddz2oqjd1g0.png" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
              <a href="https://depositphotos.com/?utm_source=newsletter&utm_medium=email&utm_campaign=Model%20Club"><img src="/img/dposit.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
              <img src="https://i.pcmag.com/imagery/reviews/04BeuaBbm49onPbM1tX7ENj-6..1569482810.png" alt="">
            </div>
          </div>
        </div>
      </div>
     
    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Designed by &copy; <a href="https://www.linkedin.com/in/imran-nazir-692abb112/">Imran</a> </p> 
    
    <!-- | Designed by TemplateMo</p> -->
            </div>
        </div>
    </footer>
    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="/blogs">Home</a>
                  </li>
                  <li>
                      <a href="/blogs/contact">Contact Us</a>
                  </li>
              </ul>
              <p>Your Vision Designed</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>

    
</body>
</html>